body,div,p,h1,h2,h3,form,img,a,li,ul,dl,dt,dd,ol,input {
    margin:0;
    padding:0;
}

html{font-size:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
html,button,input,select,textarea{font-family:sans-serif}
.sep,.ndash {
    margin: 0 .25em;
    font-family: sans-serif;
}

input[type="search"]{-webkit-appearance:textarea;
                     -webkit-box-sizing:content-box;
                       box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

body {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC",
    "WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
.ir{display:block;text-align:left;text-indent:-9999em;overflow:hidden;_zoom:1}
img, a img {
    border:none;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
}

.hide{display:none !important}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.container {
    width: 1226px;
    *zoom:1;
    margin-left: auto;
    margin-right: auto;
}
.container:after {
    clear: both;
}

.btn {
    display: inline-block;
    *zoom:1;
    *display:inline;
    width: 158px;
    height: 38px;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.btn:hover {
    text-decoration: none;
    color: #b0b0b0;
}

.btn-line-primary {
    border-color: #ff6700;
    background: #ffffff;
    color: #ff6700;
}

.btn-line-primary:hover {
    color:#fff;
    background-color: #f25807;
    border-color: #f25807;
}

.site-topbar {
    position: relative;
    z-index: 30;
    height: 40px;
    color: #b0b0b0;
    background-color: #333;
}

.site-topbar a {
    color: #b0b0b0;
}

.site-topbar a:hover{
    color: #fff;
}

.site-topbar .sep {
    margin: 0 .5em;
    color: #424242;
}

.site-topbar .topbar-info .link,
.site-topbar .topbar-info .user,
.site-topbar .topbar-info .message,
.site-topbar .topbar-info .sep{float:left}

.site-topbar .container {
    position: relative;
}

.iconfont{font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:0.2px;
    -moz-osx-font-smoothing:grayscale}

.site-topbar .topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    _zoom:1;
}

.site-topbar .topbar-cart,.site-topbar .topbar-info {
    float: right;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.site-topbar .topbar-info .link {
    padding: 0 5px;
    text-align: center;
}

.site-topbar .topbar-info .sep{margin:0}

.site-topbar .topbar-cart {
    width: 120px;
    margin-left: 15px;
    background-color: orange;
}

.site-topbar .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background-color: #424242;
}

.site-topbar .cart-mini i {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -1px;
}

.site-topbar .cart-mini-num{margin-left:-4px}
.site-topbar .cart-menu {
    display: none;
    position: absolute;
    right: 0;
    top:40px;
    z-index: 31;
    width: 316px;
    padding: 15px 0 0;
    color: #424242;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-top: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}


.site-header {
    position: relative;
    z-index: 20;
    height: 100px;
}
.site-header .container {
    position: relative;
}
.site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.site-header .header-nav {
    float: left;
    width: 850px;
}
.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.site-header .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    _zoom:1;
    background-color: #ff6700;
  /*  *background:url(/i/logo.png) no-repeat 50% 50%;*/
}

.site-header .logo:before,.site-header .logo:after {
    position:absolute;
    left: 0;
    top:0;
    z-index: 1;
    width: 55px;
    height: 55px;
    content: "";
/*    background-color: black;*/
    /*设置旋转中心点的位置*/
    -webkit-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition:all .2s;
    transition:all .2s
}

.site-header .logo:before{
    background:url("../img/logo.png") no-repeat 50% 50%;
    opacity: 1;
    filter: alpha(opacity=100) \9;
    -webkit-transform: translate3d(0,0,0);
    transform:translate3d(0,0,0)
}

.site-header .logo:after {
    background: url("../img/logo.png") no-repeat 50% 50%;
    opacity: 0;
    filter:alpha(opacity=0) \9;
    margin-left: -55px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.site-header .logo:focus {
    outline: 0;
}

.site-header .logo:hover:before {
    opacity: 0;
    filter:alpha(opacity=0) \9;
    -webkit-transform: translate3d(55px,0,0);
    transform:translate3d(55px,0,0)
}
.site-header .logo:hover:after {
    opacity: 1;
    filter:alpha(opacity=100) \9;
    -webkit-transform: translate3d(55px,0,0);
    transform: translate3d(55px,0,0);
}

.site-header .logo:active:after{-webkit-transform:translate3d(55px, 0, 0) scale(0.9);
    transform:translate3d(55px, 0, 0) scale(0.9)}

.site-header .nav-list {
    position: relative;
    z-index: 10;
    width: 820px;
    height: 88px;
    float: left;
    padding: 12px 0 0 30px;
    list-style-type:none;
    font-size: 16px;
}

.site-header .nav-item {
    float: left;
}

.site-header .nav-item .link {
    display: block;
    padding: 26px 10px 38px;
    *padding:26px 8px 38px;
    color: #333;
}

.site-header .nav-item .link:focus {
    outline: 0;
}

.site-header .nav-item .item-children{
    display: none;
}

.site-header .nav-category {
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}

.site-header .nav-category .link-category {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}

.site-header .header-nav-menu {
    position: absolute;
    top:100px;
    left: 0;
    z-index: 24;
    width: 100%;
    height: 229px;
    border-top: 1px solid #e0e0e0;
    background-color: #ffffff;
}
.site-header .header-nav-menu .children-list{
    font-size: 12px;
}

.site-header .header-nav-menu .children-list li {
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}

.site-header .header-nav-menu .children-list li:before {
    position: absolute;
    left: 0;
    top:35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}

.site-header .header-nav-menu .children-list li.first:before {
    display: none;
}

.site-header .header-nav-menu .figure-thumb {
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}

.site-header .header-nav-menu .figure-thumb img {
    width: 160px;
    height: 110px;
}

.site-header .header-nav-menu .figure-thumb a {
    display: block;
}

.site-header .header-nav-menu .title {
    line-height: 20px;
    color: #333;
}

.site-header .header-nav-menu .title a {
    color: #333333;
}

.site-header .header-nav-menu .price {
    line-height: 20px;
    height: 20px;
    color: #ff6700;
}
.site-header .header-nav-menu .flags {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.site-header .header-nav-menu .flag {
    display: inline-block;
    *zoom:1;
    *display:inline;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.site-header .header-nav-menu-active {
    border-bottom: 1px solid #e0e0e0 \9;
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
}

.site-header .search-form {
    position:relative;
    width: 296px;
    height: 50px;
}

.site-header .search-form .keyword-list {
    position: absolute;
    left: 0;
    top:50px;
    _top:51px;
    width: 243px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #ffffff;
}
.site-header .search-form .keyword-list li.active,.site-header .search-form .keyword-list li:hover {
    background: #fafafa;
}

.site-header .search-form .keyword-list li a {
    position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}

.site-header .search-form .keyword-list li .keyword {
    color: #ff6700;
}

.site-header .search-form .keyword-list li .result {
    position: absolute;
    right: 15px;
    top: 6px;
    color: #b0b0b0;
}

.site-header .search-form:hover .search-text {
    border-color: #b0b0b0;
}
.site-header .search-form:hover .search-btn {
    border-color: #b0b0b0;
}
.site-header .search-form:hover .search-btn:hover {
    border-color: #ff6700;
}

.site-header .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.site-header .search-btn {
    position: absolute;
    right: 0;
    top:0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background-color:#fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.site-header .search-btn:hover {
    background-color: #ff6700;
    color: #ffffff;
}
.site-header .search-hot-words {
    position: absolute;
    top:14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}

.site-header .search-hot-words a {
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eeeeee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.site-header .search-hot-words a:hover {
    background: #ff6700;
    color: #ffffff;
}

.site-category {
   /* display: none;*/
    position: absolute;
    top:88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}

.site-category-list {
    height: 418px;
    margin: 0;
    padding: 20px 0;
    border: 1px solid #ff6700;
    color: #424242;
    background-color: #ffffff;
}

.site-category-list {
    height: 420px;
    border: 0;
    padding: 20px 0;
    color: #ffffff;
    background: #333333;
    background: rgba(0,0,0,0.6);
}


.site-category-list .title {
    position: relative;
    display: block;
    padding-left:30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
}

.site-category-list .title:hover {
    background-color: #ff6700;
}

.site-category-list .title i {
    position: absolute;
    top:12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #e0e0e0;
}

.site-category .children {
    display: none;
    position: absolute;
    left: 234px;
    top:0;
    z-index: 24;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left:0;
    background: #ffffff;
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}

.site-category-list .children-col-3 {
    width: 795px;
}

.site-category-list .children-list {
    height: 458px;
    padding: 2px 0;
}

.site-category-list .children-list li {
    position: relative;
    float: left;
    width: 265px;
    height:76px;
}
.site-category-list .children-list li.star-goods .link {
    width: 170px;
    padding-right: 0;
}
.site-category-list .children-list .link {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333333;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.site-category-list .link:hover {
    color: #ff6700;
}

.site-category-list .children-list .thumb {
    margin-right:12px;
    vertical-align: middle;
}

.site-category-list .children-list .text {
    line-height: 40px;
}

.site-category-list .children-list .btn-buy {
    position: absolute;
    right: 10px;
    top:26px;
    width: 58px;
    height: 22px;
    line-height: 22px;
}

.site-category-list .children-list-col {
    float: left;
    width: 265px;
}

